
.main-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    .form-wrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .existing-tasks{
        background-color: var(--secondary);
        width: 500px;
        flex-grow: 2;
    }
}
