
.main-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    .form-wrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .existing-tasks{
        width: 500px;
        flex-grow: 2;

        .task{
            flex-basis: 20%;
            margin: 5px;
        }
    }
}
