.main-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.main-container .form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.main-container .existing-tasks {
  background-color: var(--secondary);
  width: 500px;
  -ms-flex-positive: 2;
      flex-grow: 2;
}
